/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    max-width: 100%;
    height: auto;
} 

*,*:before,*:after{
    box-sizing: border-box;
}

/* *{outline: 1px solid black;} */

body{
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
}

 .header-container{
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-bottom: 1px solid #F1F1F1;
    padding: 32px 0px;
 }

 .header-container h1 a{
    background-image: url(../Portfolio/imgs/logo.png);
    width: 90px;
    height: 40px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
 }
 .nav{
    display: flex;
    gap: 40px;  
 }
 .nav li{
    padding: 4px 8px;
    position: relative;
 }
.nav li a{
    text-decoration: none;
    color: #000000;
}
.nav li:hover::before{
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid #919191;
    mask: conic-gradient(at 8px 8px, rgba(0, 0, 0, 0) 75%, #919191 0) 0 0 / calc(100% - 8px) calc(100% - 8px), linear-gradient(#919191 0 0) content-box;
}
.hamburger-menu{
    width: 0;
}
/* 表頭區域ＲＷＤ */
@media (max-width: 992px) {
    .header-container{
        width: 100%;
        padding: 8px 12px;
    }
    .nav{
        display: none;
    }
    .hamburger-menu{
        width: 40px;
        height: 40px;
        display: block;
    }
}
/* 橫幅區域 */
.banner{
    background-color: #FAFAFA;
    padding: 80px 0px;
}
.title{
    max-width: 670px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 24px;
    padding: 59px 0px;
    row-gap: 16px;
}
.title h2{
    font-size: 24px;
    line-height: 1.2;
    color: #1E1E1E;
}
.mark{
    position: relative;
}
.mark img{
    position: absolute;
    bottom:0px;
    right:-15px;
}
/* 雙引號的偽元素 */
.quote::after{
    content: "";
    width: 72px;
    height: 72px;
    background-image: url(../Portfolio/imgs/quote-left.png);
    position: absolute;
    top: 0;
    left: 0;
}
.quote::before{
    content: "";
    width: 72px;
    height: 72px;
    background-image: url(../Portfolio/imgs/quote-right.png);
    position: absolute;
    bottom: 0;
    right: 0;
}
/* 2b-2c經驗 */
.service-list{
    max-width: 636px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.service-items{
    max-width: 298px;
}
.border-botton{
    margin-bottom: 8px;
    color: #5b5b5b;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* h3 偽元素 */
.border-botton::after {
    content: "";
    display: block;
    width: 24px;
    border-bottom: 2px solid #c1c1c1;
}
.service-items p{
    text-align: center;
    color: #3B3B3B;
}
/* 橫幅區域ＲＷＤ */
@media (max-width: 992px) {
    .title{
        width: 300px;
        margin-bottom: 40px;
        margin-bottom: 8px;
    }
    .title h2{
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    .h2-pd{
        width: 260px;
    }
    .mark img{
        width: 108px;
    }
    .quote::after{
        width: 64px;
        height: 64px;
        top: 0;
        left: 38%;
        
    }
    .quote::before{
        display: none;
    }
    .service-list{
        flex-direction: column;
        align-items: center;
    }
}
/* 內容區域 */
.container-works{
    max-width: 1296px;
    margin: 0 auto;
    padding: 120px 0px;
}
.works-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 80px;
    margin-bottom: 72px;
}
.work-info{
    width: 49%;
    display: flex;
    flex-direction: column;
}
.work-info img{
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    display: block;
    margin-bottom: 16px;
}
.work-text{
    padding-left: 16px;
    margin-bottom: 24px;
}
.work-text h2{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    color: #3B3B3B;
    margin-bottom: 8px;
}
.work-text p{
    color: #919191;
}
.works-tag{
    display: flex;
    gap: 16px;
    padding-left: 16px;
}
.works-tag li{
    background-color: #F1F1F1;
    padding: 4px 12px 4px 12px;
    border-radius: 16px;
}
.pagination{
    max-width: 152px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 16px;
}
.link{
    display: block;
    background-color: #ffffff;
    border-radius: 4px;
    color: #3B3B3B;
    font-size: 24px;
    text-decoration: none;
    padding: 2px 13px 2px 13px;
}
.link:hover {
    color: #ffffff;
    background-color: #1E1E1E;
}
/* 內容區域ＲＷＤ */
@media (max-width: 992px) {
    .container-works{
        padding: 80px 12px;
    }
    .works-list{
        row-gap: 48px;
        margin-bottom: 48px;
    }
    .work-info{
        width: 100%;
    }
}
/* 表尾區域 */
.footer-bg{
    border-top: 1px solid #f1f1f1;
    padding: 80px 0px;
    background-image: url(../Portfolio/imgs/footer-lg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-content{
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer-title img{
    width: 120px;
    height: 54px;
}
.footer-title h2{
    color: #3b3b3b;
    font-size: 20px;
}
.footer-title a{
    display: block;
    color: #919191;
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
}
.footer-title a:hover{
    color: #1b1b1b;
}
.footer-friendlink{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer-service .link-bk{
    background: #000;
    color: #fff;
}
.footer-service a{
    width: 306px;
    text-decoration: none;
    color: #3b3b3b;
    background-color: #fff;
    font-size: 20px;
    line-height: 1.2;
    outline: 1px solid #c1c1c1;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 24px;
    border-radius: 8px;
}
.footer-service a:hover{
    font-weight: 700;
    background: #000;
    color: #fff;
}
/* 表尾區域ＲＷＤ */
@media (max-width: 992px){
    .footer-bg{
        background-image: url(../Portfolio/imgs/footer-bg-sm.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .footer-content{
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
    .footer-service a{
        padding: 4px 24px;
    }
}
